input.has-error, textarea.has-error, select.has-error {
  border: 1px solid red !important; }

input.has-success, textarea.has-success, select.has-success {
  border: 1px solid green !important; }

@font-face {
  font-family: 'Droid';
  src: url("../fonts/DroidSerif-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Droid';
  src: url("../fonts/DroidSerif-Italic.ttf");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Droid';
  src: url("../fonts/DroidSerif-Bold.ttf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Droid';
  src: url("../fonts/DroidSerif-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html, body {
  cursor: default;
  height: 100%;
  position: relative;
  min-height: 100%; }

body {
  overflow: auto;
  font-family: 'Droid', Open Sans, sans-serif;
  color: #404040; }

#container {
  width: 100%;
  min-height: 100%;
  height: 100%; }

.content {
  position: relative;
  max-width: 1170px;
  margin: 0 auto; }

.clear:before,
.clear:after {
  content: "";
  display: table; }

.clear:after {
  clear: both; }

.clear {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  transform: scale(0.8); }

.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0; }

.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8; }

.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0; }

.my-mfp-slide-bottom .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  transform: translateY(-20px) perspective(600px) rotateX(10deg); }

.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: translateY(0) perspective(600px) rotateX(0);
  transform: translateY(0) perspective(600px) rotateX(0); }

.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
  opacity: 0;
  -webkit-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  transform: translateY(-10px) perspective(600px) rotateX(10deg); }

.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8; }

.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0; }

.hamburger {
  height: 33px;
  width: 40px;
  position: relative;
  z-index: 6; }

.hamburger .inner,
.hamburger .inner::before,
.hamburger .inner::after {
  background-color: #fff;
  content: "";
  display: block;
  height: 1px;
  width: 32px;
  -webkit-transition: all .3s ease;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger .inner {
  position: absolute;
  top: 50%; }

.hamburger .inner::before {
  margin-top: -10px;
  position: absolute; }

.hamburger .inner::after {
  margin-top: 10px;
  position: absolute; }

.hamburger.button-close .inner {
  background-color: transparent; }

.hamburger.button-close .inner::before,
.hamburger.button-close .inner::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  width: 29px; }

.hamburger.button-close .inner::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #202020;
  z-index: 11; }
  .menu .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .menu .content .left ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0;
      padding: 0; }
      .menu .content .left ul li {
        list-style: none; }
        .menu .content .left ul li a {
          padding: 16px 20px;
          display: block;
          color: #fff;
          text-transform: uppercase;
          font-size: 11px;
          letter-spacing: 2px;
          -webkit-transition: all 250ms ease;
          transition: all 250ms ease; }
        .menu .content .left ul li ul {
          display: none; }
        .menu .content .left ul li:hover a {
          color: #afafaf;
          text-decoration: none; }
        .menu .content .left ul li.has-ul {
          position: relative; }
          .menu .content .left ul li.has-ul ul {
            position: absolute;
            top: 100%;
            left: 0;
            background: #202020;
            padding: 0; }
            .menu .content .left ul li.has-ul ul li {
              display: block; }
              .menu .content .left ul li.has-ul ul li a {
                white-space: nowrap;
                border-bottom: 1px solid #3e3e3e; }
                .menu .content .left ul li.has-ul ul li a:hover {
                  color: #fff; }
          .menu .content .left ul li.has-ul:after {
            font: normal normal normal 14px/1 FontAwesome;
            position: absolute;
            content: "\f107";
            top: 16px;
            right: 3px;
            color: #fff; }
          .menu .content .left ul li.has-ul:hover ul {
            display: block; }
    .menu .content .right .social-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .menu .content .right .social-wrap a {
        margin: 0 5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 27px;
        height: 27px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 50%;
        background: #303030;
        color: #fff;
        -webkit-transition: all 250ms ease;
        transition: all 250ms ease; }
        .menu .content .right .social-wrap a:hover {
          text-decoration: none;
          background: #e5c603; }

.mobile-menu {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  z-index: 11;
  display: block;
  position: fixed;
  left: 0;
  top: 53px;
  width: 100%;
  height: 100%;
  bottom: 0;
  overflow: auto; }
  .mobile-menu.active {
    -webkit-transform: translateX(0);
    transform: translateX(0); }

.mobile-menu-top {
  display: none;
  width: 100%;
  position: fixed;
  z-index: 7;
  top: 0;
  left: 0; }

@media screen and (max-width: 1024px) {
  .menu {
    display: none; }
  .mobile-menu-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
    background: #202020;
    -webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1); }
    .mobile-menu-top .phone-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #fff; }
      .mobile-menu-top .phone-link p {
        margin: 0;
        margin-left: 10px; } }

.site-logo {
  padding: 85px;
  padding-top: 135px;
  text-align: center;
  display: block; }
  .site-logo:hover {
    text-decoration: none; }
  .site-logo__img {
    max-width: 100%;
    display: block;
    margin: auto; }
  .site-logo__text {
    color: #818181;
    letter-spacing: 3px; }
  @media screen and (max-width: 1024px) {
    .site-logo {
      padding: 20px;
      padding-top: 60px; } }

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0 -15px; }
  .main-content .left-side {
    width: 66.666667%;
    padding: 0 15px; }
  .main-content .right-side {
    width: 33.33333333%;
    padding: 0 15px; }
  @media screen and (max-width: 1180px) {
    .main-content {
      display: block; }
      .main-content .left-side {
        width: 100%; }
      .main-content .right-side {
        width: 100%; } }

.slider-wrap {
  margin-bottom: 30px; }
  .slider-wrap a {
    display: block; }
    .slider-wrap a .img-wrap {
      position: relative; }
      .slider-wrap a .img-wrap img {
        display: block;
        margin: auto;
        max-width: 100%; }
      .slider-wrap a .img-wrap__text {
        background: rgba(0, 0, 0, 0.45) none repeat scroll 0 0;
        height: auto;
        overflow: hidden;
        padding: 30px;
        text-align: center;
        -webkit-transition: all 1s ease-in-out 0s;
        transition: all 1s ease-in-out 0s;
        width: 50%;
        z-index: 999;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        color: #fff;
        font-weight: 700;
        letter-spacing: 2px; }
  .slider-wrap .slick-dots {
    bottom: 10px; }
  .slider-wrap .slick-dots li button:before {
    font-size: 60px; }
  .slider-wrap .slick-dots li.slick-active button:before {
    opacity: .75;
    color: #e5c603; }
  .slider-wrap .slick-dots li {
    margin: 0 5px; }
  .slider-wrap .slick-dots li button:before {
    color: #e5c603; }
  .slider-wrap .slick-slide {
    outline: none; }
  @media screen and (max-width: 1024px) {
    .slider-wrap a .img-wrap__text {
      width: 90%; } }

.main-content .right-side .border-block {
  max-width: 370px;
  display: block;
  margin: auto;
  border: 1px solid #e9e9e9;
  padding: 30px;
  position: relative;
  margin-bottom: 45px; }
  .main-content .right-side .border-block__title {
    display: block;
    text-align: center;
    position: absolute;
    left: 30px;
    right: 30px;
    top: -12px;
    background: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px; }
  @media screen and (max-width: 1024px) {
    .main-content .right-side .border-block {
      margin-top: 45px; } }

.main-content .right-side .author {
  text-align: center; }
  .main-content .right-side .author-img {
    margin-bottom: 15px; }
    .main-content .right-side .author-img img {
      max-width: 150px;
      border-radius: 150px; }
  .main-content .right-side .author__name {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.4em;
    letter-spacing: 2px; }
  .main-content .right-side .author__text {
    font-size: 14px;
    line-height: 21px;
    margin: 10px 0; }
  .main-content .right-side .author-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .main-content .right-side .author-social a {
      margin: 0 5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 27px;
      height: 27px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 50%;
      background: #303030;
      color: #fff;
      -webkit-transition: all 250ms ease;
      transition: all 250ms ease; }
      .main-content .right-side .author-social a:hover {
        text-decoration: none;
        background: #e5c603; }

.main-content .right-side .discusses .list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e9e9e9; }
  .main-content .right-side .discusses .list .item:nth-last-child(1) {
    border: none; }
  .main-content .right-side .discusses .list .item .img-wrap {
    width: 80px;
    height: 80px;
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 10px; }
    .main-content .right-side .discusses .list .item .img-wrap img {
      max-width: 100%;
      display: block;
      margin: auto; }
  .main-content .right-side .discusses .list .item a {
    color: #404040;
    text-decoration: underline; }
    .main-content .right-side .discusses .list .item a:hover {
      text-decoration: none; }

.main-content .right-side .practice img {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-width: 100%; }

#yii-debug-toolbar {
  display: none !important; }

.bottom-gallery {
  max-width: 100%;
  position: relative; }
  .bottom-gallery .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .bottom-gallery-text {
    background: rgba(0, 0, 0, 0.45) none repeat scroll 0 0;
    height: auto;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
    z-index: 999;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute; }
    .bottom-gallery-text .fa {
      font-size: 20px; }
    .bottom-gallery-text p {
      margin: 0;
      margin-left: 10px; }
    .bottom-gallery-text:hover {
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      text-decoration: none; }
  .bottom-gallery .block {
    max-width: 200px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease; }
    .bottom-gallery .block img {
      width: 100%;
      max-width: 100%;
      -webkit-transition: all 250ms ease;
      transition: all 250ms ease; }
    .bottom-gallery .block:hover {
      opacity: 0.8; }
      .bottom-gallery .block:hover img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1); }
  @media screen and (max-width: 1024px) {
    .bottom-gallery .bottom-gallery-text {
      position: static;
      margin-bottom: 15px;
      -webkit-transform: none;
      transform: none; }
    .bottom-gallery .wrap {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.footer {
  background: #202020; }
  .footer-top {
    padding: 50px 0; }
    .footer-top-col {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
      flex: 1 1 25%; }
      .footer-top-col__title {
        background: transparent;
        color: #c7c7c7;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 16px; }
      .footer-top-col-hrefs {
        margin: 30px 0;
        color: #787878; }
        .footer-top-col-hrefs a {
          color: #787878;
          display: block;
          position: relative;
          padding: 8px 0 10px;
          border-bottom: 1px dotted #303030; }
  .footer-social {
    text-align: center;
    margin-bottom: 50px;
    position: relative; }
    .footer-social:before {
      content: "";
      width: 100%;
      height: 1px;
      background: #303030;
      display: block;
      position: absolute;
      top: 42%; }
    .footer-social .social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background: #202020;
      max-width: 200px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: auto;
      position: relative;
      z-index: 2; }
      .footer-social .social a {
        margin: 0 5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 27px;
        height: 27px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 50%;
        background: #303030;
        color: #fff;
        -webkit-transition: all 250ms ease;
        transition: all 250ms ease; }
        .footer-social .social a:hover {
          text-decoration: none;
          background: #e5c603; }
  .footer-bottom {
    padding: 5px 0; }
    @media screen and (max-width: 993px) {
      .footer-bottom .col {
        text-align: center !important; } }

.posts .col-xs-12, .detailview .col-xs-12 {
  margin-bottom: 15px; }
  .posts .col-xs-12:nth-last-child(1), .detailview .col-xs-12:nth-last-child(1) {
    margin-bottom: 0; }

.posts .post, .detailview .post {
  border: 1px solid #e9e9e9;
  padding: 20px;
  position: relative;
  margin-bottom: 15px; }
  .posts .post-top, .detailview .post-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .posts .post-top a, .detailview .post-top a {
      color: #e5c603;
      text-decoration: underline; }
      .posts .post-top a:hover, .detailview .post-top a:hover {
        text-decoration: none; }
  .posts .post__title, .detailview .post__title {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #404040;
    margin: 15px 0;
    display: block; }
    .posts .post__title:hover, .detailview .post__title:hover {
      opacity: 0.8; }
  .posts .post .img-wrap, .detailview .post .img-wrap {
    display: block;
    position: relative;
    max-width: 100%; }
    .posts .post .img-wrap img, .detailview .post .img-wrap img {
      display: block;
      max-width: 100%;
      margin: auto; }
  .posts .post-description, .detailview .post-description {
    margin: 15px 0; }
  .posts .post .more, .detailview .post .more {
    color: #e5c603;
    text-decoration: none; }
    .posts .post .more:hover, .detailview .post .more:hover {
      text-decoration: underline; }
  .posts .post--big, .detailview .post--big {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .posts .post--big .img-wrap, .detailview .post--big .img-wrap {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      margin-right: 15px; }
    @media screen and (max-width: 800px) {
      .posts .post--big, .detailview .post--big {
        display: block; } }

.detailview .post-text {
  margin-top: 15px; }

.detailview .related {
  margin-top: 50px; }
  .detailview .related__title {
    margin-bottom: 15px;
    color: #404040;
    font-size: 22px; }
  .detailview .related-block {
    position: relative; }
    .detailview .related-block .img-wrap {
      display: block;
      max-width: 100%;
      margin: auto;
      position: relative; }
      .detailview .related-block .img-wrap img {
        display: block;
        max-width: 100%;
        margin: auto; }
    .detailview .related-block__title {
      font-size: 18px;
      color: #404040;
      margin: 10px 0;
      display: block; }

.detailview textarea {
  resize: vertical; }

.questions {
  margin-top: 30px; }
  .questions__title {
    font-size: 22px;
    color: #404040; }
  .questions .question {
    padding: 10px 0;
    border-bottom: 1px solid #c7c7c7; }
    .questions .question:nth-last-child(1) {
      border: none; }
    .questions .question__topic {
      color: #404040;
      font-size: 18px;
      margin-bottom: 15px;
      display: block; }
    .questions .question .q {
      font-size: 16px; }

.mr10 {
  margin-right: 10px; }

.pd10 {
  padding: 10px; }

.m10 {
  margin: 10px; }

a.m10 {
  display: block;
  color: #404040;
  text-decoration: underline; }
  a.m10:hover {
    text-decoration: none; }

.comments {
  margin-top: 50px; }
  .comments__title {
    margin-bottom: 15px;
    color: #404040;
    font-size: 22px; }

/*# sourceMappingURL=style.css.map */
