@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}
@font-face{ font-family: 'Droid';
  src: url('../fonts/DroidSerif-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face{ font-family: 'Droid';
  src: url('../fonts/DroidSerif-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}
@font-face{ font-family: 'Droid';
  src: url('../fonts/DroidSerif-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face{ font-family: 'Droid';
  src: url('../fonts/DroidSerif-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}
*{
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
html, body {
    cursor: default;
    height: 100%;
    position:relative;
    min-height:100%;
}
body {  
    overflow: auto;
    font-family:Open Sans,sans-serif;
}
#container{
    width: 100%;
    min-height: 100%;
    height: 100%;
}
.content {
  position: relative;
  width: 980px;
  margin:0 auto;
}
.clear:before,
.clear:after {
    content: "";
    display: table;
}
.clear:after {
    clear: both;
}
.clear {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-in-out; 
  transform: scale(0.8); 
}
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: scale(1); 
}
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  transform: scale(0.8); 
  opacity: 0;
}
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
.my-mfp-slide-bottom .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-out;
  transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
}
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
}
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
  opacity: 0;
  transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
}
.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0;
}